extends layout

block content
  p Welcome to #{title}

  p Have a look at the current&nbsp;
    a(href='/picnics') picnics
    p or sign up and create your own picnic!

  div
    a(href='#') Sign up
    | &nbsp;or&nbsp;
    a(href='#') Log in
