body {
  padding: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#users {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}
